body{
margin:0;
overflow:hidden;
font-family:Arial;
color:white;
background:black;
}

#enter{
position:fixed;
width:100%;
height:100%;
background:black;
display:flex;
justify-content:center;
align-items:center;
font-size:40px;
cursor:pointer;
z-index:10;
}

canvas{
position:fixed;
top:0;
left:0;
}

.card{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
padding:40px;
border-radius:20px;
background:rgba(0,0,0,0.5);
backdrop-filter:blur(15px);
}

.avatar{
width:120px;
border-radius:50%;
margin-bottom:10px;
}

.glow{
text-shadow:
0 0 5px #00f,
0 0 10px #00f,
0 0 20px #00f,
0 0 40px #00f;
}

.links a{
display:block;
margin:10px;
color:white;
text-decoration:none;
font-size:18px;
transition:0.3s;
}

.links a:hover{
color:#00f;
transform:scale(1.1);
}
